.dark-mode{
  background-color: black;
  color: white;
}








* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #023047;
  text-align: center;
}

h1{
  background-color: #219ebc;
  color: #03045e;
}




.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #023047;
  background-color: #219ebc;
}
.box:hover {
  height: 18.25vmin;
  width: 18.25vmin;
  border: 5.2px solid #03045e;
  background-color: rgba(63, 196, 185, 0.8);
}

#reset {
  padding: 1rem;
  font-size: 1.15rem;
  background-color: #8ecae6;
  color: #03045e;
  border-radius: 1rem;
  border: none;
}

#reset:hover{
  font-size: 1.16rem;
  border: 5.2px solid #03045e;
}


#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}